
@model ChemType



<form method="post" asp-action="DeletePOST">
	<input asp-for="Id" hidden/>
	<div class="border-bottom p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete CoverType</h2>
			<br />
			<div asp-validation-summary="All"></div>
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control"/>

			
		</div>
		
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="ChemType" asp-action="Index" class="btn btn-secondary" style="width:250px">back to Home page</a>
	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}